<!-- ============================= -->
<!-- workbench/tabs.html -->
<!-- ============================= -->
<div class="container my-4">
<ul class="nav nav-tabs mb-3" id="workbenchTabs" role="tablist">
<li class="nav-item" role="presentation">
<button class="nav-link active" id="rules-tab" data-bs-toggle="tab" data-bs-target="#rules" type="button" role="tab">Rules</button>
</li>
<li class="nav-item" role="presentation">
<button class="nav-link" id="sectors-tab" data-bs-toggle="tab" data-bs-target="#sectors" type="button" role="tab">Sectors</button>
</li>
<li class="nav-item" role="presentation">
<button class="nav-link" id="events-tab" data-bs-toggle="tab" data-bs-target="#events" type="button" role="tab">Events</button>
</li>
<li class="nav-item" role="presentation">
<button class="nav-link" id="correlation-tab" data-bs-toggle="tab" data-bs-target="#correlation" type="button" role="tab">Correlation</button>
</li>
</ul>


<div class="tab-content" id="workbenchTabsContent">
{% include 'workbench/rules.html' %}
{% include 'workbench/sectors.html' %}
{% include 'workbench/events.html' %}
{% include 'workbench/correlation.html' %}
{% include 'workbench/modals.html' %}
</div>
</div>
<!-- ============================= -->