<!-- ============================= -->
<!-- workbench.html -->
<!-- ============================= -->
{% extends "base.html" %}
{% block body %}
{% include "workbench/nav.html" %}
{% include "workbench/tabs.html" %}
{% endblock %}
{% block scripts %}
<script src="/static/main.js"></script>
<script src="/static/rules.js"></script>
<script src="/static/sectors.js"></script>
<script src="/static/events.js"></script>
<script src="/static/correlation.js"></script>
{% endblock %}
<!-- ============================= -->