<!-- ============================= -->
<!-- workbench.html -->
<!-- ============================= -->
{% extends "base.html" %}
{% block body %}
{% include "workbench/nav.html" %}
{% include "workbench/tabs.html" %}
{% endblock %}
{% block scripts %}
<!-- modules load - while we are refactoring the JS -->
<script type="module" src="/static/js/core/utils.js"></script>
<script type="module" src="/static/js/core/sidebar.js"></script>
<script type="module" src="/static/js/core/i18n.js"></script>
<script type="module" src="/static/js/core/astro_config.js"></script>
<script type="module" src="/static/js/modules/rules.js"></script>
<script type="module" src="/static/js/modules/sectors.js"></script>
<script type="module" src="/static/js/modules/events.js"></script>
<script type="module" src="/static/js/main.js"></script>

<!-- -->
<!-- <script src="/static/main.js"></script> -->
<!-- <script src="/static/i18n.js"></script> -->
<!-- <script src="/static/astro_config.js"></script> -->
<!-- <script src="/static/rules.js"></script> -->
<!-- <script src="/static/sectors.js"></script> -->
<!-- <script src="/static/events.js"></script> -->
{% endblock %}
<!-- ============================= -->